@using FirstMvcApp.Models

@{
    ViewBag.Title = "Home Page";
}


@if (TempData["FirstName"] != null)
{
    <div class="alert alert-danger">You successfully added new attendant: @TempData["FirstName"]</div>
}


<div class="panel panel-default">
    <div class="panel-heading">Add attendant:</div>
    <div class="panel-body">


        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form-group">
                <label for="FirstName">First name:</label>
                @Html.TextBox("FirstName", null, new { @class = "form-control", placeholder = "First name" })
            </div>
            <input type="submit" value="Add" class="btn btn-default" />
        }
    </div>
</div>


@Html.Partial("PersonList")


@section SideBar
{

    <div class="panel panel-default">
        <div class="panel-heading">Sidebar</div>
        <div class="panel-body">
            <p>This is Home Page specific sidebar.</p>

            <ul>
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
            </ul>
        </div>
    </div>

}






